<launch>
    <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch" />
    <include file="$(find turtlebot3_navigation)/launch/move_base.launch" />
    <!--<node pkg="tf" type="static_transform_publisher" name="base_camera" args="0.08 0.065 -0.06 -1.57 0 -1.57 /base_link /camera 100"></node>-->
    <node pkg="tf" type="static_transform_publisher" name="base_camera" args="0.15 0.07 -0.07 -1.57 0 -1.57 /base_scan /camera 100"></node>
    <node pkg="phase_2" type="aruco_listener_0.py" name="aruco_listener_0" output="screen"></node>
    <node pkg="phase_2" type="aruco_listener_1.py" name="aruco_listener_1" output="screen"></node>
    <include file="$(find phase_2)/launch/aruco_detector_proto.launch"></include>
</launch>
